<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shorntenr</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
      }
      .main {
        width: 100%;
        min-height: 100vh;
        background-color: #f1f1f1;
      }
      .navbar {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .left-nav {
        display: flex;
        align-items: center;
        margin-left: 20px;
        font-weight: 600;
        font-size: x-large;
      }
      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          margin: 0 10px;
          text-decoration: none;
          color: #000;
          font-weight: 500;
          font-size: larger;
        }
      }
      .right-nav {
        display: flex;
        align-items: center;
        margin-right: 20px;
        a {
          margin: 0 10px;
          text-decoration: none;
          color: #000;
          font-weight: 500;
          font-size: larger;
        }
      }
      .main-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        h1 {
          font-size: 3rem;
          margin-bottom: 20px;
        }
        form {
          display: flex;
          flex-direction: column;
          input {
            width: 300px;
            height: 40px;
            margin-bottom: 20px;
            padding: 0 10px;
            font-size: 1.2rem;
            border: 1px solid #000;
            border-radius: 5px;
            outline: none;
          }
          button {
            width: 100px;
            height: 40px;
            background-color: #000;
            color: #fff;
            font-size: 1.2rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
          }
        }
      }
      .url-generate {
        margin-top: 20px;
        font-size: 1.2rem;
        a {
          text-decoration: none;
          color: #000;
          font-weight: 600;
        }
      }
      .table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        table {
          width: 60%;
          border-collapse: collapse;
          th {
            padding: 10px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
            border-bottom: 1px solid #000;
          }
          td {
            padding: 10px;
            text-align: left;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: 1px solid #000;
          }
          td a {
            text-decoration: none;
            color: #000;
          }
        }
      }
      .btn {
        width: 70px;
        height: 40px;
        background-color: #d31010;
        color: #fff;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
      }
    </style>
  </head>
  <body>
    <!-- Main Div Start -->
    <div class="main">
      <!-- Navbar start -->
      <nav class="navbar">
        <div class="left-nav">URL Shortener</div>
        <div class="center">
          <a href="/">Home</a>
        </div>
        <div class="right-nav">
          <a href="/user/logout"
            >Logout <% if(locals.id){%> (<%=locals.id %>) <% } %>
          </a>
        </div>
      </nav>
      <!-- Navbar end -->

      <!-- Main Content Start -->
      <div class="main-content">
        <h1>URL Shortener</h1>
        <form action="/url" method="POST">
          <input type="text" name="url" placeholder="Include http:// or https://" />
          <button type="submit">Shorten</button>
        </form>
      </div>

      <!-- Table Start -->
      <div class="table">
          <% if(locals.url && locals.url.length > 0){ %>
          <table>
              <tr>
                  <th>Sr. No</th>
                  <th>Original URL</th>
                  <th>Short URL</th>
                  <th>Clicks</th>
                  <th></th>
                </tr>
                <% url.reverse().forEach((e, index)=> { %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= e.url %></td>
            <td>
              <a
                href="/<%= e.shortUrl %>"
                target="_blank"
                ><%= e.shortUrl %></a
              >
            </td>
            <td><%= e.clicks.length %></td>
            <td>
              <button class="btn" onclick="deleteShortUrl('<%= e.shortUrl %>')"">
                Delete
            </button>
        </td>
    </tr>
    <% }); %>
</table>
<% } else{%>
    <table>
        <tr>
            <th>No URL Found</th>
        </tr>
    </table>
    <% } %>
      </div>
      <!-- Main Content End -->
    </div>
    <!-- Main Div End -->
    <script>
     async function deleteShortUrl(id) {
        console.log(id);
        await fetch(`/url/${id}`, {
          method: "DELETE",
        })
        .then(() => {
          location.reload();
        });
      }
    </script>
  </body>
</html>
